#!/usr/bin/env bash

# server settings
# server ip to connect to
readonly sshServer=''
# connect to SSH server as
readonly username=''

# ---------------------------------------------–------- #

# SSH settings
# set the verbositiy of the deployment process
readonly verbose=0

# ---------------------------------------------–------- #

# deploy settings
# services to check for after deployment
declare services=(httpd mysqld)
# deploy using git or scp
readonly deploymentMethod='git'
# command to run before deployment starts, by default runs in the project directory
readonly preDeployCommand=''
# command to run after deployment is done, by default runs in the project directory
readonly postDeployCommand=''

# ---------------------------------------------–------- #

# app specific settings
# project location on SSH server
readonly remoteProjectLocation=''
# project repo url
readonly repo=''
# project web url, is used with open command
readonly webURL=''
# change config file params
# changes to make in config file specified, i.e ('regex' 'value')
declare config=(
	'server=' 'localhost'
)

# ---------------------------------------------–------- #