#!/usr/bin/env bash

# server settings
# server ip to connect to
declare sshServer=''
# connect to SSH server as
declare username=''

# ---------------------------------------------–------- #

# SSH settings
# set the verbositiy of the deployment process
declare verbose=0

# ---------------------------------------------–------- #

# deploy settings
# services to check for after deployment
declare services=(httpd mysqld)
# deploy using git or scp
declare deploymentMethod='git'
# command to run before deployment starts, by default runs in the project directory
declare preDeployCommand=''
# command to run after deployment is done, by default runs in the project directory
declare postDeployCommand=''
# do not ask for confirmation before deployment
declare permissiveDeployment=false
# set downloads folder for deployer
declare downloadsPath='~/deployer_downloads'
# set uploads folder for deployer
declare uploadsPath='~/deployer_uploads'

# ---------------------------------------------–------- #

# app specific settings
declare editor='vim'
# project location on SSH server
declare remoteProjectLocation=''
# project repo url
declare repo=''
# project web url, is used with open command
declare webURL=''
# change config file params
declare configFiles=('' '' '')
# changes to make in config file specified, i.e ('regex' 'value')
declare config=(
	'server=root' 'server=localhost'
	'somethingelse=sometihng' 'whatever'
)

# ---------------------------------------------–------- #