#!/usr/bin/env bash

# server settings
readonly sshServer=''
readonly username=''

# app specific settings
readonly localProjectLocation=''
readonly remoteProjectLocation=''
readonly repo=''
readonly web=''

# ssh settings
readonly verbose=0